<aside class="sidebar">
  <nav class="sidebar-nav">
    <a href="{% url 'core:get_involved' %}" class="sidebar-item{% if active_tab == 'main' %} active{% endif %}">Main</a>
    <a href="{% url 'core:get_involved_learn' %}" class="sidebar-item{% if active_tab == 'learn' %} active{% endif %}">Learn</a>
    <a href="{% url 'core:get_involved_quiz' %}" class="sidebar-item{% if active_tab == 'quiz' %} active{% endif %}">Quiz<span class="sidebar-item-description">Find what involvement suits you!</span></a>
  </nav>
</aside>
