{% extends 'base.html' %}

{% block title %}ResourceConnect - About Us{% endblock %}

{% block content %}
<main class="content-page about-page">
  <h1 class="about-title">About us</h1>
  <hr class="page-divider" />
  <div class="about-body">
    <p>Through the C4G (Computing for Good) initiative at the Colorado School of Mines, our team has developed this website dedicated to raising awareness about homelessness in Colorado and encouraging community involvement. We believe that meaningful change begins with informed and engaged citizens.</p>
    <p>Our goal for this platform is to serve Colorado residents to learn and connect with organizations that specialize in various areas of support to reduce homelessness.</p>
  </div>
</main>
{% endblock %}
