<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}ResourceConnect{% endblock %}</title>
  {% load static %}
<link rel="stylesheet" href="/static/css/output.css">
{% block extra_css %}{% endblock %}
<body>
  <div class="site-shell">
    {% include 'partials/navbar.html' %}
    {% block content %}{% endblock %}
    {% include 'partials/footer.html' %}
  </div>
  {% block extra_js %}{% endblock %}
  <script defer src="{% static 'js/alpine.js' %}"></script>
</body>
</html>
